.donation-plan-tray {
  display: none;
  @include bp-lg {
    display: block;
    position: fixed;
    $tray-padding: 16px;
    padding-top: $tray-padding;
    background-color: $white;
    @include z-depth-1;
    top: 110;
    width: $side-col-width - site-padding-lg;
    right: site-padding-lg;
    margin-top: 30px;
    border-radius: 2px;
    .title {
      font-size: 16px;
      color: $lighter-text;
      padding: 0 $tray-padding;
    }
    .info {
      margin: 8px 0 16px;
      font-size: 20px;
      padding: 0 $tray-padding;
    }
    .btn-flat {
      height: 48px;
      line-height: 48px;
      color: $primary-color;
      padding: 0 $tray-padding;
      border-top: 1px solid $light-border;
      width: 100%;
      letter-spacing: 0.5px;
      i {
        @include reg-icon;
        font-size: 26px;
        margin-right: 8px;
      }
    }
  }
}
