.filter-area {
  display: none;
}
@include bp-lg {
  .filter-area {
    display: block;
    position: fixed;
    top: 140px;
    left: $site-padding-lg;
    width: $side-col-width - $site-padding-lg;
    font-size: 14px;
    .collapsible,
    .collapsible-header,
    .collapsible-body {
      border: none;
      background: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
  }
  .filter-menu {
    color: $med-trans;
    padding: 0px;
  }
  .filters-title,
  .groups-nav-title {
    text-transform: uppercase;
    letter-spacing: 0.5;
    padding-bottom: 8px;
  }
  .filters {
    .filter-group {
      padding: 6px 0 8px;
    }
    .collapsible-header {
      min-height: 0px;
      line-height: initial;
      &.active {
        font-weight: 700;
        span.toggle:before {
          content: '\2013';
        }
      }
      span.toggle:before {
        content: '+';
        font-weight: 700;
        color: $primary-color;
        padding-right: 8px;
      }
    }
    .filter {
      padding: 12px 0 0 16px;
    }
    .clear-filters {
      display: block;
      padding: 10px 0 0 16px;
      font-size: 11px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: lighten($primary-color, 15%);
      i {
        font-size: 14px;
        vertical-align: middle;
        margin-right: 6px;
        padding-bottom: 2px;
      }
    }
    [type="checkbox"] {
      & + label {
        color: inherit;
        line-height: 14px;
        height: inherit;
        padding-left: 20px;
        font-size: 13px;
      }
      &:not(:checked) + label:after {
        border: 2px solid rgba(0, 0, 0, 0.4);
        height: 14px;
        width: 14px;
      }
      &:checked + label:after {
        border: 2px solid $primary-color-light;
        background-color: $primary-color-light;
        width: 14px;
        height: 14px;
      }
      &:checked + label:before {
        width: 6px;
        height: 12px;
        top: -2px;
        left: 0;
      }
    }
  }
  .groups-nav {
    border-top: 1px solid $light-border;
    margin-top: 16px;
    padding-top: 20px;
    a {
      color: $med-trans;
      display: block;
      margin-left: 4px;
      padding-left: 10px;
      line-height: 28px;
      border-left: 2px solid transparent;
      &:hover,
      &.active {
        color: $primary-color;
        border-left: 2px solid $primary-color;
      }
    }
    select {
      height: 2.25rem;
      margin: 4px 0 0 8px;
      max-width: 140px;
    }
  }
  .feedback-link {
    max-width: 240px;
    font-size: 13px;
    padding-top: 30px;
    a {
      color: $lightest-trans;
      &:hover {
        color: $primary-color-light;
      }
      span {
        text-decoration: underline;
      }
    }
  }
}
