@include bp-lg {
  .filter-area {
    overflow: hidden;
    font-size: 14px;
    padding-bottom: 20px;
    color: $lighter-trans;
  }
  .filters-title,
  .groups-nav-title {
    font-size: 16px;
  }
  .groups-nav {
    margin-bottom: 16px;
    a {
      display: block;
      line-height: 28px;
      color: inherit;
      &:hover,
      &.active {
        color: $primary-color;
      }
    }
    select {
      margin-top: 6px;
      height: 2.5em;
      border-radius: 2px;
      border: 1px solid #ececec;
      option[value="national"] {
        display: none;
      }
    }
  }
  .filter-group {
    margin-top: 8px;
    padding: 12px 0;
    border-top: 1px solid $light-border;
  }
  .filter-group-label {
    font-weight: 700;
  }
  .filter {
    padding-top: 10px;
  }
  .clear-filters {
    float: right;
    line-height: 23px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: lighten($primary-color, 15%);
  }
  .nonprofit-type-filters {
    display: none;
  }
  .filters {
    [type="checkbox"] {
      & + label {
        color: inherit;
        height: inherit;
        font-size: inherit;
        line-height: 16px;
        padding-left: 22px;
        padding-top: 1px;
      }
      &:not(:checked) + label::after {
        border: 2px solid rgba(0, 0, 0, 0.36);
        height: 16px;
        width: 16px;
      }
      &:checked + label::after {
        border: 2px solid $primary-color-light;
        background-color: $primary-color-light;
        width: 16px;
        height: 16px;
      }
      &:checked + label::before {
        width: 7px;
        height: 13px;
        top: -2px;
        left: 0;
      }
    }
  }
}
