.group-area {
  @media #{$large-and-up} {
    margin: 0 210px;
  }
}
.grouping-title {
  text-align: center;
  text-transform: uppercase;
  color: $lighter-text;
  padding: 60px 0 15px;
  font-size: 28px;
  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: $secondary-color;
    margin: 4px auto;
  }
  @media #{$large-and-up} {
    padding: 64px 0 24px;
    font-size: 38px;
    &:before {
      width: 60px;
      height: 3px;
    }
  }
}
.state-title.purple,
.purple-states-title:before {
  background: $map-purple;
}
.state-title.light-blue,
.light-blue-states-title:before {
  background: $map-light-blue;
}
.state-title.dark-blue,
.dark-blue-states-title:before {
  background: $map-dark-blue;
}
.state-title.light-red,
.light-red-states-title:before {
  background: $map-light-red;
}
.state-title.dark-red,
.dark-red-states-title:before {
  background: $map-dark-red;
}
.state {
  @include z-depth-1;
  background-color: $white;
  padding: 0;
}
.state + .state {
  margin-top: 40px;
}
.state-title {
  background-color: $title-bg-color;
  padding: 2px $group-padding;
  h4 {
    color: $white;
  }
}
.state .group {
  border-top: 1px solid $light-border;
  padding: 2rem $group-padding;
}
.group-title {
  margin: 0 0 0.75rem;
  font-size: 1.28rem;
  line-height: 1.25;
  font-weight: 400;
  a {
    color: inherit;
    &:hover {
      color: $primary-color-light;
    }
  }
}
.group-link {
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 13px;
  i {
    @include reg-icon;
    margin-right: 4px;
    font-size: 20px;
  }
  i.add {
    font-size: 22px;
  }
  &:hover {
    color: $primary-color-light;
  }
}
.group-link + .group-link {
  margin-left: 40px;
}
.nonprofit-tags {
  line-height: 24px;
  @media #{$medium-and-up} {
    text-align: right;
  }
  span {
    background: $group-tag-color;
    display: inline-block;
    padding: 0 12px;
    margin-bottom: 8px;
    border-radius: 16px;
    color: $lighter-text;
    font-size: 13px;
  }
  span + span {
    margin-left: 6px;
  }
}
.group-tags {
  .group-tag {
    background: $group-tag-color;
    display: inline-block;
    line-height: 24px;
    padding: 0 12px;
    margin-bottom: 8px;
    border-radius: 16px;
    color: $lighter-text;
    @media #{$medium-and-up} {
      line-height: 28px;
      padding: 0 15px;
    }
  }
  .group-tag + .group-tag {
    margin-left: 6px;
  }
}
.group-content {
  line-height: 1.6;
  margin: 0.5rem 0 1rem;
  p+p {
    margin-top: 0.5rem;
  }
}
.group-comments {
  margin-top: 1rem;
  font-weight: 700;
  a {
    color: lighten($link-color, 20%);
    &:hover {
      color: $link-color;
    }
  }
  i {
    @include reg-icon;
    margin-right: 4px;
  }
}
.tagblock {
  color: $lighter-text;
}
.tagblock-title {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  width: 120px;
  line-height: 1.5rem;
  vertical-align: top;
}
.tagblock-tags {
  display: inline-block;
  font-size: 13px;
  line-height: 1.5rem;
  span+span:before {
    content: ", ";
  }
  @media #{$medium-and-up} {
    max-width: calc(100% - 120px);
  }
}
.tagblock + .tagblock {
  margin-top: 4px;
}
.post-edit-link {
  float: right;
}
