.custom-donate-area.mobile {
  
  h1 {
    text-align: center;
  }

}

ul.mobile-group.state-list >  {

  font-size: 150%;

  li {
    margin-bottom: 7px;

    a {
      margin-left: 13px;
      color: black;

      .count {
        font-size: smaller;
        opacity: 0.5;
      }
    }
  }

}

.state-page {
  h1 {
    display: none;
  }
  .back-to-group-link {
    margin: 0 0 30px 15px;
    display: block;
    text-transform: uppercase;
    i {
      @include reg-icon;
    }
  }
}