$tray-padding: 12px;

.plan-sidebar {
  display: none;
  @include bp-lg {
    display: block;
    position: fixed;
    top: 124;
    width: $side-col-width - $site-padding-lg;
    right: $site-padding-lg;

    .donation-plan-tray {
      padding-top: $tray-padding;
      background-color: $white;
      @include z-depth-1;

      .title {
        color: $lighter-trans;
        padding: 0 $tray-padding;
      }

      .info {
        padding: 8px $tray-padding $tray-padding;
        font-size: 18px;
        font-weight: 700;
        color: $med-trans;
      }

      .btn-flat {
        height: 48px;
        line-height: 48px;
        color: $primary-color;
        padding: 0 $tray-padding;
        border-top: 1px solid $light-border;
        width: 100%;
        font-weight: 700;
        letter-spacing: 0.5px;

        i {
          @include reg-icon;
          font-size: 26px;
          margin-right: 8px;
        }
      }
    }
    .donate-tiles {
      margin-top: 30px;
      .title {
        color: $lightest-trans;
        font-size: 14px;
        margin-bottom: 6px;
      }
    }
    .donate-tile {
      padding: $tray-padding;
      background-color: $white;
      border: 1px solid lighten($secondary-color-light, 14%);
      @include z-depth-1;
      margin-bottom: 12px;
      .tile-title {
        color: $lighter-trans;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .tile-content {
        margin: 2px 0 8px;
        font-size: 13px;
        font-weight: 300;
        color: $lighter-trans;
      }
      .tile-button {
        background: $secondary-color-light;
        color: $white;
        text-align: center;
        font-weight: 700;
        height: 27px;
        line-height: 27px;
        padding: 0;
        width: 100%;
        border-radius: 20px;
        font-size: 12.5px;
        letter-spacing: 0.5px;
        &:hover {
          background: $secondary-color;
        }
      }
    }
  }
}

@media only screen and (max-height: 650px) {
  .plan-sidebar .donate-tiles {
    display: none;
  }
}
