.filter-group-label {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
  @include bp-lg {
    font-size: inherit;
  }
}

.filter-group {
  @include bp-md-down {
    & + .filter-group {
      border-top: 1px solid $light-border;
      padding-top: 18px;
      margin-top: 20px;
    }
  }
  @include bp-lg {
    margin-top: 8px;
    padding: 12px 0;
    border-top: 1px solid $light-border;
  }
}

.filter {
  [type="checkbox"] {
    & + label {
      color: inherit;
      height: 20px;
      line-height: 20px;
      font-size: 18px;
      padding-left: 32px;
      margin: 9px 0;
      @include bp-lg {
        height: inherit;
        font-size: inherit;
        line-height: 16px;
        padding-left: 22px;
        padding-top: 1px;
        margin: 6px 0;
      }
    }
    &:not(:checked) + label::after {
      border: 2px solid $med-trans;
      @include bp-lg {
        border: 2px solid $lighter-trans;
        height: 16px;
        width: 16px;
      }
    }
    &:checked + label::after {
      border: 2px solid $primary-color-light;
      background-color: $primary-color-light;
      @include bp-lg {
        width: 16px;
        height: 16px;
      }
    }
    &:checked + label::before {
      @include bp-lg {
        width: 7px;
        height: 13px;
        top: -2px;
        left: 0;
      }
    }
  }
}

@include bp-lg {
  .filter-area {
    font-size: 14px;
    color: $med-trans;
  }
  .filters-title,
  .groups-nav-title {
    font-weight: 700;
    text-transform: uppercase;
  }
  .groups-nav {
    margin-bottom: 16px;
    a {
      display: block;
      line-height: 28px;
      color: inherit;
      &:hover,
      &.active {
        color: $primary-color;
      }
    }
    select {
      margin-top: 6px;
      height: 2.5em;
      border-radius: 2px;
      border: 1px solid #ececec;
      option[value="national"] {
        display: none;
      }
    }
  }
  .clear-filters {
    float: right;
    line-height: 23px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: lighten($primary-color, 15%);
  }
  .nonprofit-type-filters {
    display: none;
  }
}
