$tray-height: 64px;

.donation-plan-tray {
  @include bp-md-down {
    position: fixed;
    bottom: 0;
    height: $tray-height;
    transform: translateY(100%);
    transition: transform 200ms ease-in-out;
    width: 100%;
    background-color: $navbar-color;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.26);

    &.has-groups {
      transform: translateY(0);
    }

    .info-area {
      float: left;
      padding: 9px 5%;
      height: $tray-height;
      line-height: ($tray-height / 2) - 9px;
    }

    .title {
      color: $trans-light;
    }

    .info {
      font-size: 17px;
      font-weight: 700;
    }

    .button-area {
      float: right;
      text-align: right;
      width: 50%;
    }

    .plan-btn {
      padding: 0 10%;
      height: $tray-height;
      line-height: $tray-height;
      border-left: 1px solid $light-border;
      color: $red-base;
      i {
        vertical-align: middle;
        margin-bottom: 3px;
        margin-right: 6px;
        font-size: 23px;
      }
    }
  }
}

$tray-padding: 16px;
@include bp-lg {
  .donation-plan-tray {
    padding-top: $tray-padding;
    background-color: white;
    @include z-depth-1;

    .title {
      color: $trans-light;
      padding: 0 $tray-padding;
    }

    .info {
      padding: 8px $tray-padding $tray-padding;
      font-size: 18px;
      font-weight: 700;
      color: $trans-base;
    }

    .button-area {
      max-height: 0;
      overflow: hidden;
      transition: 200ms ease-in-out;
    }
    &.has-groups .button-area {
      max-height: 50px;
    }

    .plan-btn {
      height: 48px;
      line-height: 48px;
      color: $blue-base;
      padding: 0 $tray-padding;
      border-top: 1px solid $light-border;
      width: 100%;
      font-weight: 700;

      i {
        @include reg-icon;
        font-size: 26px;
        margin-right: 8px;
      }
    }
  }
}
