.home .blog-section {
  background: white;
  .section-title {
    color: $trans-light;
  }
  .read-more-button {
    display: block;
    margin: 40px auto 0;
    width: 160px;
    height: 36px;
    line-height: 36px;
    border-radius: 100px;
    background: #f7f7f7;
    font-size: 13px;
    font-weight: 500;
    color: $trans-light;
    text-align: center;
    &:hover {
      background: #efefef;
    }
    @include bp-md {
      width: 170px;
      font-size: 14px;
      height: 38px;
      line-height: 38px;
    }
    i {
      vertical-align: middle;
      font-size: 15px;
    }
  }
}
.blog-posts {
  max-width: 680px;
  margin: 0 auto;
  @include bp-lg {
    max-width: 800px;
  }
}
.blog-post {
  margin-top: 2em;
  @include bp-md {
    margin-top: 3em;
  }
  .post-image {
    float: left;
    width: 29%;
    max-width: 185px;
    margin-right: 3.5%;
    border-radius: 2px;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: 3px;
    @include bp-md {
      margin-right: 2%;
    }
  }
  .post-title {
    font-weight: 700;
    color: $red-base;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0.4em;
    @include bp-md {
      font-size: 25px;
    }
    @include bp-lg {
      font-size: 27px;
    }
  }
  .post-body {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    @include bp-md {
      line-height: 1.5em;
      font-size: 15px;
    }
    p,
    li {
      margin-bottom: 0.66em;
    }
    a {
      font-weight: 500;
    }
  }
}
