.tile {
  display: block;
  background: white;
  @include z-depth-2;
  border-radius: 2px;
  overflow: hidden;
  .tile-image {
    padding-top: 45%;
    @include full-bg;
    @include bg-overlay($blue-base, 0.1);
  }
  .tile-body {
    padding: 15px;
    @include bp-xl {
      padding: 20px;
    }
  }
  .tile-description {
    color: $trans-base;
    line-height: 1.3;
    font-size: 13px;
    @include bp-lg {
      text-align: left;
      font-size: 15px;
    }
  }
  .tile-label {
    color: $trans-base;
    margin-bottom: 6px;
    line-height: 1.2;
    font-size: 19px;
    font-weight: 700;
    i {
      margin-left: 2px;
      vertical-align: middle;
      font-size: 1em;
    }
    @include bp-xl {
      font-size: 24px;
    }
  }
  &:hover {
    @include z-depth-3;
    .tile-image::after {
      opacity: 0;
    }
    .tile-label {
      color: black;
    }
    .tile-description {
      color: black;
    }
  }
}

.home .donate-section {
  .donate-tiles {
    @include bp-md {
      display: flex;
      margin: 0 -1.5%;
    }
  }
  .donate-tile {
    @include bp-sm-down {
      & + .donate-tile {
        margin-top: 25px;
      }
    }
    @include bp-md {
      width: 30.333%;
      margin: 0 1.5%;
      &:first-of-type {
        order: 1;
      }
      &:last-of-type {
        order: 2;
      }
    }
    @include bp-md-only {
      .tile-body {
        padding: 15px 10px;
      }
      .tile-label {
        font-size: 17px;
      }
      .tile-description {
        font-size: 12px;
      }
    }
  }
}
