.section-title {
  margin: $section-padding 0;
  color: $lightest-trans;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  @include bp-lg {
    font-size: 22px;
  }
}

%flex-container {
  @include bp-md {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    & > div {
      margin-left: 18px;
      @include bp-lg {
        margin-left: 36px;
      }
    }
    & > :first-child {
      margin-left: 0;
    }
    & > :nth-child(4n+1) {
      margin-left: 0;
    }
  }
}

%flex-item {
  @include bp-md {
    width: calc(33.3333% - 12px);
    display: inline-block;

    // & + %flex-item {
    //   margin-left: 18px;
    // }
  }
  @include bp-lg {
    width: calc(33.3333% - 24px);

    // & + %flex-item {
    //   margin-left: 36px;
    // }
  }
}

.tile {
  @include z-depth-2;
  margin-bottom: $section-padding;
  background: $white;
  border-radius: 2px;

  .tile-header {
    height: 110px;
    width: 100%;
    border-radius: 2px 2px 0 0;
    position: relative;
    @include full-bg;
  }

  .tile-tag {
    position: absolute;
    left: 0;
    padding: 0 12px 0 15px;
    line-height: 29px;
    font-size: 13px;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -15px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
    }
  }

  .tile-text {
    padding: 18px 15px;
  }

  .tile-title {
    margin: 0 0 8px;
    i {
      vertical-align: middle;
      font-size: 1em;
    }
  }

  .tile-content {
    color: $med-trans;
  }
}
@import "homepage/intro-section";
@import "homepage/donate-section";
@import "homepage/map-section";
@import "homepage/testimonial-section";
@import "homepage/news-section";
