.home .intro-section {
  background: url('/images/hands-bg.jpg');
  @include full-bg;
  background-position: 20% 27%;
  position: relative;
  padding: 60px 0;
  @include bp-sm {
    padding: 70px 0;
  }
  @include bp-md {
    padding: 95px 0;
  }
  @include bp-lg {
    padding: 115px 0;
  }

  .intro-tagline {
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 2px $trans-light;
    margin: 0 auto 20px;
    @include bp-sm {
      font-size: 28px;
    }
    @include bp-md {
      font-size: 36px;
      margin-bottom: 25px;
    }
    @include bp-lg {
      font-size: 44px;
    }
  }

  .thermometer-area {
    margin: 0 auto;
    max-width: 500px;
  }

  .thermometer {
    overflow-x: hidden;
    background-color: $white;
    height: 12px;
    border-radius: 12px;
    @include bp-md {
      height: 16px;
    }
  }

  .mercury {
    height: 100%;
    background: $blue-base;
    border-radius: 12px 0 0 12px;
    transition: width 0.8s linear 0.6s;
    width: 0;
    &.loaded {
      width: 100%;
    }
  }

  .thermometer-numbers {
    @include clearfix;
    margin-top: 6px;
    line-height: 1.33;
    color: $white;
    text-shadow: 0 1px 2px $trans-light;
    .amount {
      font-size: 16px;
      font-weight: 900;
      @include bp-md {
        font-size: 20px;
      }
    }
    .label {
      font-size: 13px;

      @include bp-md {
        font-size: 15px;
      }
    }
  }

  .thermometer-current {
    float: left;
  }

  .thermometer-goal {
    float: right;
    text-align: right;
  }
}
.home .intro-description {
  background: $gradient-blue;
  color: $white;
  padding: 35px 0 20px;
  @include bp-md {
    text-align: center;
  }
  @include bp-lg {
    padding: 40px 0 35px;
  }
  .description-body {
    font-size: 15px;
    line-height: 1.33;
    font-weight: 500;
    @include bp-md {
      font-size: 17px;
    }
    @include bp-lg {
      max-width: 948px;
      margin: 0 auto;
      font-size: 20px;
    }
    p {
      margin-bottom: 0.6em;
      @include bp-md {
        margin-bottom: 0.45em;
      }
    }
  }
  a {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    color: $blue-light-3;
    font-size: 13.5px;
    font-weight: 700;
    &:hover {
      color: white;
    }
    @include bp-md {
      margin-top: 5px;
      font-size: 15px;
    }
    @include bp-lg {
      font-size: 17px;
    }
    i {
      font-size: 17px;
      vertical-align: middle;
      margin-bottom: 2px;
      margin-left: 2px;
      @include bp-lg {
        font-size: 20px;
      }
    }
  }
}
