.intro-section {
  background: linear-gradient(rgba(71, 55, 47, 0.3), rgba(71, 55, 47, 0.3)),
    url('/images/hands.jpg');
  @include full-bg;
  position: relative;
  padding-top: 20px;

  .social-buttons {
    text-align: right;
    @include bp-lg {
      position: absolute;
      right: 30px;
      top: 25;
    }
  }
  .share-button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 48px;
    height: 26px;
    border-radius: 2px;
    @include z-depth-1;
    &:hover,
    &:focus {
      @include z-depth-3;
    }
    @include bp-lg {
      width: 68px;
      height: 38px;
    }
    img {
      height: 18px;
      margin: 4px auto;
      @include bp-lg {
        height: 24px;
        margin: 7px auto;
      }
    }
  }

  .fb-share-button {
    margin-right: 8px;
    background: $facebook-blue;

    @include bp-md {
      margin-right: 20px;
    }
  }

  .twitter-share-button {
    background: $twitter-blue;
  }

  .intro-tagline {
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 2px $trans-light;
    margin: 30px auto 20px;
    max-width: 220px;
    @include bp-sm {
      font-size: 28px;
      max-width: 240px;
    }
    @include bp-md {
      max-width: 310px;
      font-size: 36px;
      margin-bottom: 25px;
    }
    @include bp-lg {
      max-width: 380px;
      font-size: 44px;
      margin-top: 90px;
    }
  }

  .thermometer-area {
    margin: 0 auto 50px;
    max-width: 500px;
    @include bp-sm {
      margin-bottom: 60px;
    }
    @include bp-md {
      margin-bottom: 80px;
    }
    @include bp-lg {
      margin-bottom: 90px;
    }
  }

  .thermometer {
    overflow-x: hidden;
    background-color: $white;
    height: 12px;
    border-radius: 12px;
    @include bp-md {
      height: 16px;
    }
  }

  .mercury {
    height: 100%;
    background: $blue-base;
    border-radius: 12px 0 0 12px;
    transition: width 0.8s linear 0.6s;
    width: 0;
    &.loaded {
      width: 100%;
    }
  }

  .thermometer-numbers {
    @include clearfix;
    margin-top: 6px;
    line-height: 1.33;
    color: $white;
    text-shadow: 0 1px 2px $trans-light;
    .amount {
      font-size: 16px;
      font-weight: 900;
      @include bp-md {
        font-size: 20px;
      }
    }
    .label {
      font-size: 13px;

      @include bp-md {
        font-size: 15px;
      }
    }
  }

  .thermometer-current {
    float: left;
  }

  .thermometer-goal {
    float: right;
    text-align: right;
  }

  .intro-description {
    background: $gradient-blue-trans;
    color: $white;
    padding: 25px 0 20px;
    font-size: 14px;
    @include bp-md {
      text-align: center;
    }
    @include bp-lg {
      padding: 30px 0 25px;
    }
    p {
      @include bp-md {
        margin: 0 auto;
        font-size: 15px;
        max-width: 680px;
      }
      @include bp-lg {
        font-size: 17px;
        max-width: 782px;
      }
    }
    a {
      display: inline-block;
      margin-top: 0.33em;
      height: 2em;
      line-height: 2em;
      color: $blue-light-3;
      font-size: 13px;
      font-weight: 700;
      @include bp-md {
        margin-top: 0.5em;
      }
      @include bp-lg {
        font-size: 15px;
      }
      i {
        font-size: 17px;
        vertical-align: middle;
        margin-bottom: 2px;
        margin-left: 2px;
        @include bp-lg {
          font-size: 20px;
        }
      }
    }
  }
}
