.map-section {
  border-top: 1px solid $light-border;
  padding: 30px 0;
  @media #{$medium-and-up} {
    padding: 60px 0;
  }
}
.map-area {
  margin: 0 auto;
  text-align: center;
  color: $lighter-text;
  .map-title {
    margin-top: 0px;
  }
  .map-desc {
    @media #{$small-and-down} {
      margin-bottom: 1rem;
    }
  }
  .q0-7 {
    fill: $map-dark-red;
    &:hover {
      fill: darken($map-dark-red, 8%);
    }
  }
  .q2-7 {
    fill: $map-light-red;
    &:hover {
      fill: darken($map-light-red, 8%);
    }
  }
  .q3-7 {
    fill: $map-purple;
    &:hover {
      fill: darken($map-purple, 8%);
    }
  }
  .q4-7 {
    fill: $map-light-blue;
    &:hover {
      fill: darken($map-light-blue, 8%);
    }
  }
  .q5-7 {
    fill: $map-dark-blue;
    &:hover {
      fill: darken($map-dark-blue, 8%);
    }
  }
}