.map-area {
	padding: 60px 0;
    text-align: center;
	color: $lighter-text;
	.map-title {
		margin-top: 0px;
	}
	.map-desc {
		@media #{$small-and-down} {
			margin-bottom: 1rem;
		}
	}

    .q0-7 {
        fill: $map-dark-red;
        &:hover {
            fill: darken($map-dark-red, 8%);
        }
    }
    .q2-7 {
        fill: $map-light-red;
        &:hover {
            fill: darken($map-light-red, 8%);
        }
    }
    .q3-7 {
        fill: $map-purple;
        &:hover {
            fill: darken($map-purple, 8%);
        }
    }
    .q4-7 {
        fill: $map-light-blue;
        &:hover {
            fill: darken($map-light-blue, 8%);
        }
    }
    .q5-7 {
        fill: $map-dark-blue;
        &:hover {
            fill: darken($map-dark-blue, 8%);
        }
    }
}
#map-infobox {
    display: none;
    @media #{$large-and-up} {
        max-width: 300px;
        display: block;
        font-size: 14px;
        padding: 10px;
        line-height: 1.1;
        box-shadow: 0 0 0 1px rgba(48,44,38,.08),0 2px 12px 0 rgba(48,44,38,.16);
        background: white;
        .map-state-title {
            font-weight: 700;
            line-height: 1.4;
        }
    }
}