.testimonial-section {
  background: $gradient-blue;
  padding: 40px 0;
  .section-title {
    color: $white-trans;
  }
}
.testimonial-area {
  @include bp-md {
    display: flex;
    margin: 40px 40px 0;
    justify-content: center;
  }
}
.testimonial-buttons {
  @include bp-sm-down {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 3px 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &:last-child {
      &:after {
        display: block;
        padding: 5px;
        content: '';
        flex-shrink: 0;
      }
    }
  }
  @include bp-md {
    flex-shrink: 0;
    text-align: center;
    margin-top: 4px;
  }
}
.testimonial-button {
  border-radius: 2px;
  flex-shrink: 0;
  color: white;
  background: $bluegrey;
  line-height: 1.1;
  padding: 4px;
  font-weight: 900;
  font-size: 11px;
  height: 38px;
  width: 88px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition-property: width, height, padding, transform;
  transition-duration: 0.2s;
  @include z-depth-1;
  &:hover {
    transform: scale(1.03);
    background-color: lighten($bluegrey, 3%);
  }
  @include bp-md {
    display: flex;
    padding: 7px;
    font-size: 13px;
    width: 110px;
    height: 46px;
    margin-bottom: 15px;
  }
  @include bp-lg {
    padding: 10px;
    font-size: 14px;
    width: 120px;
    height: 50px;
    margin-bottom: 15px;
  }

  & + .testimonial-button {
    @include bp-sm-down {
      margin-left: 14px;
    }
  }
  &.focused {
    background: $blue-light;
    transform: scale(1.15);
    @include bp-md {
      transform: scale(1.12);
    }
  }
}
.testimonial-list {
  position: relative;
  width: 100%;
  max-width: 720px;
  min-height: 470px;
}
.testimonial {
  position: absolute;
  visibility: hidden;
  top: 0;
  margin: 20px 5% 0;
  color: white;
  @include bp-md {
    margin: 0 0 0 50px;
  }
  @include bp-lg {
    margin-left: 60px;
  }
  &.focused {
    visibility: visible;
  }
}
.testimonial-title {
  font-weight: 900;
  font-size: 19px;
  margin-bottom: 6px;
  @include bp-md {
    font-size: 22px;
  }
  @include bp-lg {
    font-size: 25px;
  }
}
.testimonial-body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 15px;
  @include bp-md {
    font-size: 18px;
  }
  @include bp-lg {
    font-size: 20px;
  }
}
.testimonial-footer {
  display: flex;
  align-items: top;
}
.testimonial-img {
  height: 48px;
  border-radius: 100px;
  margin-right: 10px;
  @include bp-lg {
    height: 62px;
    margin-right: 15px;
  }
}
.testimonial-author-name {
  font-weight: 700;
  margin: 5px 0 2px;
  @include bp-lg {
    font-size: 19px;
  }
}
.testimonial-author-title {
  line-height: 1.1;
  font-size: 0.9em;
  color: rgba(white, 0.9);
  @include bp-lg {
    font-size: 16px;
  }
}
