.testimonial-section {
  display: none;
  padding: 30px 0 60px;
  border-top: 1px solid $light-border;
  text-align: center;
  background-color: $white;
  .carousel-item > div {
    padding: 0px 25px;
  }
  .carousel {
    .indicators {
      .indicator-item {
        background-color: #2196f3;
      }
      .indicator-item.active {
        background-color: #607D8B;
      }
    }
    @media #{$medium-and-up} {
      .carousel-item {
        img {
          width: initial;
        }
      }
    }
  }
}
.testimonial {
  margin-top: 30px;
  @media #{$medium-only} {
    padding: 0 24px;
  }
}
.testimonial-content {
  color: $lighter-text;
  margin-bottom: 4px;
}
.testimonial-author {
  color: $primary-color-light;
}
