.testimonial-section {
  padding: 30px 0 60px;
  border-top: 1px solid $light-border;
  text-align: center;
}

.testimonial {
  margin-top: 30px;
  @media #{$medium-only} {
    padding: 0 24px;
  }

}
.testimonial-content {
  color: $lighter-text;
  margin-bottom: 4px;
}
.testimonial-author {
  color: $primary-color-light;
}