.shopping-cart {
  max-width: 900px;
  margin: 30px auto 50 auto;
  overflow: hidden;

  .donor-area {
    width: 96%;
    max-width: 600px;
    margin: 0 auto 0 auto;

    h2 {
      text-align: center;
      color: #42A5F5;
      margin: 0 0 30px 0;
    }

    .info-Area {
      margin-top: 1em;
      padding-bottom: 16px;
      border: 1px solid lightgray;

      h3 {
        padding: 8px 12px 8px 12px;
        text-align: left;
        color: white;
        background-color: #42A5F5;
      }

      p {
        padding: 12px 12px 12px 12px;
        color: darkgray;
        border-bottom: 1px solid lightgray;
      }

      input[type='text'] {
        width: 40%;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 7%;
        border: none;
        border-bottom: 1px solid darkgray;
      }

      .action-area {
        text-align: center;
        margin-top: 20px;
        letter-spacing: 0.4em;
      }
    }
  }
  .plan-display-area {
    width: 100%;
    margin-bottom: 30%;

    .plan-groups-area {
      width: 96%;
      max-width: 600px;
      margin: 16px auto 0 auto;

      .state-group-plan {
        margin-bottom: 16px;

        h3 {
          color: white;
          font-size: 16px;
          padding: 5px 0 5px 14px;
          border-radius: 5px 5px 0px 0px;
        }

        h3.purple {
          background-color: #b46ec9;
        }

        h3.light-blue {
          background-color: #79A6D2;
        }
        
        h3.light-red {
          background-color: #D4867F;
        }
        
        h3.dark-blue {
          background-color: #1F81BB;
        }
        
        h3.dark-red {
          background-color: #B5473C;
        }

        .group-plan {
          border-top: 1px solid lightgray;
          border-left: 1px solid lightgray;
          border-right: 1px solid lightgray;
          overflow: hidden;

          .name-plan {
            float: left;
            padding: 8px 0px 8px 12px;
            font-size: 16px;
            font-weight: 400;
            margin-right: 12px;
            max-width: 80%;
          }

          .org-type-area {
            margin: 0px 8px 12px 8px;
            clear: both;

            span {
              margin-right: 4px;
              padding: 4px 12px;
              border-radius: 10px;
              color: black;
              background-color: #EEEEEE;
              display: inline-block;
            }
          }

          .giving-area {
            float: right;
            overflow: hidden;
            margin-left: 8px;
            margin-rigth: 8px;
            padding: 8px 0px 0px 0px;
            background-color: white;
            font-size: 18px;

            label {
              margin-right: 2px;
            }

            input[type=text] {
              text-align: right;
              width: 70px;
              font-size: 14px;
              margin-right: 4px;
            }
          }
        }
        
        .group-plan:first-child {
          border-top: 0px;
        }
        
        .group-plan:last-child {
          border-bottom: 1px solid lightgray;
          border-radius: 0px 0px 5px 5px;
        }

      }
    }
  }
}

.plan-footer {
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
  position: fixed;
  bottom: 0;
  border-top: 1px solid darkgray;

  div {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;

    button {
      float: left;
      font-size: 18px;
      padding: 4px 10px;
      border-radius: 8px;
      border-color:  #42A5F5;
      color: white;
      background-color: #42A5F5;
    }
    span {
      font-size: 20px;
      float: right;
    }
  }
}

.shopping-cart-tray {
  display: block;
  position: fixed;
  bottom: 0;
  height: 0;
  border-top: 3px solid black;
  padding: 20px 5%;
  background-color: #673ab7;
  width: 100%;
  z-index: 100;
  color: white;
  text-shadow: 2px 2px black;

  .info {
    font-size: 110%;
    display: inline-block;
    margin-right: 30px;
  }
}

.plan-summary {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background: #673ab7;
    padding: 10px;
    border-top: 1px solid black;
    color: white;
    text-align: center;
}

.plan-summary .summary button {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: blue;
}