.donation-plan {
  @include z-depth-1;
  margin: 45px 0;
  .plan-state {
    border-bottom: 1px solid $light-border;
    padding: 10px 30px;
    h3 {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $lighter-text;
      margin: 1rem 0 1.33rem;
    }
  }
  .group {
    margin-bottom: 0.5rem;
  }
  .group-title {
    font-size: 1.15rem;
    margin-bottom: 4px;
  }
  .nonprofit-tags {
    text-align: left;
    span {
      line-height: 24px;
      padding: 0 12px;
      font-size: 12.5px;
    }
  }
  .amount {
    text-align: right;
    input {
      font-size: 1.15rem;
      border: 1px solid rgba(0, 0, 0, 0.24);
      padding: 0 10px;
      width: 100%;
      max-width: 120px;
      box-sizing: border-box;
      height: 2.5rem;
      margin-top: 0.2rem;
      font-size: inherit;
      &:focus {
        border: 1px solid $primary-color;
        box-shadow: none;
      }
    }
  }
}
.info-area {
  padding: 30px;
  @include z-depth-1;
  margin: 30px 0 60px;
  input {
    width: 47%;
    margin-right: 2%;
  }
}
.action-area {
  text-align: center;
  margin-top: 20px;
  .btn {
    margin: 0 20px;
  }
}
.plan-summary {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: $almost-white;
  @include z-depth-2;
  border-top: 1px solid $light-border;
  padding: 30px 0;
  button {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
}
