.donate-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 35px;
  background: $dark-text;
  background: lighten($primary-color, 10%);
  background: color("indigo", "darken-1");
  color: $white;
  font-size: 12px;
  z-index: 100;
  height: $donate-header-height;
  line-height: $donate-header-height;
  .wrapper {
    opacity: 0.95;
    &:hover {
      opacity: 1;
    }
  }
  .description,
  .thermometer,
  .thermometer-current,
  .thermometer-goal,
  .donate-button {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
  }
  
  .description {
    margin-right: 35px;
  }
  .donate-button {
    line-height: 26px;
    height: 26px;
    background-color: $secondary-color-light;
    color: $white;
  }
  .thermometer-area {
    float: right;
  }
  .thermometer {
    height: 14px;
    width: 300px;
    border: 1px solid $white;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mercury {
    height: 100%;
    background: $white;
    border-radius: 5px 0 0 5px;
  }
}
