.orgs-menu-page {
  @include page-padding;

  .page-title {
    color: $trans-light;
    margin-bottom: 24px;
  }

  .orgs-link-section {
    margin-bottom: 24px;
    border-bottom: 1px solid $light-border;
  }

  .orgs-link {
    display: block;
    color: inherit;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border-top: 1px solid $light-border;
    background-color: white;

    .link-count {
      float: right;
      background-color: #f3f3f3;
      color: $trans-light;
      height: 24px;
      line-height: 25px;
      border-radius: 35px;
      vertical-align: middle;
      margin: 11px 0;
      width: 47px;
      text-align: center;
      font-size: 13px;
    }
  }
}
