.customcb {
	position: relative;
	margin: 3px 0px 3px 0px;
}
.customcb > input
{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
.customcb > label
{
	line-height: 16px;
	padding: 0 0 0 22px;
}
/* custom image file in background url definition */
.customcb > input + label
{
	background: url(../images/solid-inputs.png) 0 -1px no-repeat;
	height: 16px;
}

/* highlighting on hover */
.customcb > input:hover + label,
.customcb > input + label:hover
{
	color: $cBlue;
}

/* Checked styles */
.customcb > input[type=checkbox]:checked + label        { background-position: 0 -81px; }
.customcb > input[type=checkbox]:hover:checked + label,
.customcb > input[type=checkbox]:focus:checked + label,
.customcb > input[type=checkbox]:checked + label:hover,
.customcb > input[type=checkbox]:focus:checked + label  { background-position: 0 -101px; }

/* Hover & Focus styles */
.customcb > input[type=checkbox]:hover + label,
.customcb > input[type=checkbox]:focus + label,
.customcb > input[type=checkbox] + label:hover  { background-position: 0 -21px; }

/* Active styles */
.customcb > input[type=checkbox]:active + label,
.customcb > input[type=checkbox] + label:hover:active         { background-position: 0 -41px; }
.customcb > input[type=checkbox]:active:checked + label,
.customcb > input[type=checkbox]:checked + label:hover:active { background-position: 0 -121px; }

/* Disabled styles */
.customcb > input[type=checkbox]:disabled + label,
.customcb > input[type=checkbox]:hover:disabled + label,
.customcb > input[type=checkbox]:focus:disabled + label,
.customcb > input[type=checkbox]:disabled + label:hover,
.customcb > input[type=checkbox]:disabled + label:hover:active         { background-position: 0 -61px; }
.customcb > input[type=checkbox]:disabled:checked + label,
.customcb > input[type=checkbox]:hover:disabled:checked + label,
.customcb > input[type=checkbox]:focus:disabled:checked + label,
.customcb > input[type=checkbox]:disabled:checked + label:hover,
.customcb > input[type=checkbox]:disabled:checked + label:hover:active { background-position: 0 -141px; }
