.content-page {
  margin: 30px;

  h1 {
    margin-bottom: 30px;
  }

  .content {
    margin: 25px;

    p {
      margin: 20px 15%;
    }

    ul, ol {
      margin: auto 22%;
    }

    ul li, ol li {
      margin-bottom: 12px;
    }

    h5 {
      font-size: 24px;
      font-weight: 600;
    }
  }

}