.content-page {
  @include page-padding;

  img.alignleft {
    margin-bottom: 1em;
    @include bp-md {
      float: left;
      margin-right: 20px;
    }
  }

  .content {
    font-weight: 300;
    @include bp-md {
      font-size: 18px;
    }
    a {
      color: $blue-dark-2;
      text-decoration: underline;
      text-decoration-color: rgba($blue-dark-2, 0.4);
      font-weight: 500;
      &:hover {
        color: #4887e7;
      }
    }
    strong a,
    b a {
      font-weight: inherit;
    }
  }
  p {
    margin: 1em 0;
  }

  li {
    margin: 1em 0 0.5em 1em;
  }
}
