.content-page {
  @include page-padding;

  img.alignleft {
    margin-bottom: 1em;
    @include bp-md {
      float: left;
      margin-right: 20px;
    }
  }

  .content {
    font-weight: 300;
    @include bp-md {
      font-size: 18px;
    }
  }

  p {
    margin: 1em 0;
  }

  li {
    margin: 1em 0 0.5em 1em;
  }
}
