.content-page {
  padding: 3rem 0;
  @include bp-md {
    padding: 4rem 0;

    img.alignleft {
      float: left;
      margin-right: 20px;
    }
  }

  img.alignleft {
    margin-bottom: 1em;
  }

  .content {
    font-weight: 300;

    hr {
      margin: 1em;
      clear: both;
    }
  }

  li,
  p {
    margin: 1em 0;
  }

  li {
    margin-left: 1rem;
  }
}
