.donate-header {
  @include bp-md {
    display: block;
  }
  @include bp-md-only {
    text-align: center;
  }
  padding: 0 site-padding-lg;
  position: fixed;
  top: 0;
  width: 100%;
  background: color("indigo", "darken-1");
  color: $white;
  font-size: 12px;
  z-index: 100;
  height: $donate-header-height;
  line-height: $donate-header-height;
  .wrapper {
    max-width: $site-max-width;
    margin: 0 auto;
    opacity: 0.95;
    &:hover {
      opacity: 1;
    }
  }
  .description,
  .thermometer,
  .thermometer-current,
  .thermometer-goal,
  .donate-button {
    display: inline-block;
    vertical-align: middle;
  }
  .description {
    margin-right: 24px;
  }
  .donate-button {
    line-height: 24px;
    height: 24px;
    padding: 0 1.2rem;
    background-color: $secondary-color-light;
    color: $white;
  }
  .thermometer-area {
    display: none;
    @include bp-lg {
      display: block;
      float: right;
    }
  }
  .thermometer {
    height: 10px;
    width: 300px;
    border: 1px solid $white;
    border-radius: 5px;
    margin: 0 10px;
  }
  .mercury {
    max-width: 0;
    height: 100%;
    background: $white;
    border-radius: 5px 0 0 5px;
  }
}
