.donate-page {

  background: rgba(115, 138, 158, 0.17);

  h1 {
    margin-bottom: 44px;
    margin-left: 10%;
    padding-top: 22px;  
  }

  .plan-link-box {
      background-image: url('/images/photos/murika.png');
      background-repeat: no-repeat;
      color: white;
      width: 310px;
      float: right;
      clear: both;
      margin-right: 20;
      text-align: right;
      padding: 4px;
      border: 1px solid blue;
      background-color: purple;
      font-weight: 600;
      border-radius: 5px;
      font-size: 80%;
  }
  
  .container-fluid {
    width: 85%;
    margin: 0 auto;
  }
}