.form-block {
  width: 95%;
  display: block;
  position: relative;
  margin: 0 auto 1rem;
  background-color: $form-bg-color;
  color: $dark-text;
  @include z-depth-2;
  &:hover, &:focus {
    @include z-depth-3;
  }
  .wrapper {
    padding: 15px;
    min-height: 150px;
  }
  .form-title {
    text-align: center;
    margin: 0 0 20px;
    color: $secondary-color-light;
  }
  @media #{$medium-and-up} {
    max-width: 280px;
    margin-bottom: 2rem;
    .wrapper {
      position: absolute;
      left:0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 30px 20px;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}