.filter-col {
    @media #{$medium-and-up} {
        max-height: 80%;
        margin-top: 120px;
    }
}

.filter-menu {
    color: $lighter-text;
    @media #{$medium-and-up} {
        padding-left: 0.75rem;
    }
    @media #{$large-and-up} {
        padding-left: 3rem;
    }
}

.filters-title, .groups-nav-title {
    font-weight: 700;
}

.filters {
    .filter-group {
        padding: 10px 0 6px;
    }
    .collapsible-header {
        &.active {
            font-weight: 700;
        }
        span {
            font-weight: 700;
            color: $primary-color;
            padding-right: 8px;
        }
    }
    .filter {
        padding: 6px 8px 0 2px;
    }

    [type="checkbox"].filled-in {
        & + label {
            height: 18px;
            line-height: 18px;
            padding-left: 28px;
        }
        &:not(:checked) + label:after {
            border: 2px solid rgba(0,0,0,0.4);
            height: 18px;
            width: 18px;
        }
        &:checked + label:after {
            border: 2px solid $primary-color-light;
            background-color: $primary-color-light;
            width: 18px;
            height: 18px;
        }
        &:checked + label:before {
            width: 7px;
            height: 12px;
        }
    }
}

.groups-nav {
    padding-top: 20px;
    a {
        color: $lighter-text;
        display: block;
        margin: 6px 4px;
        padding: 1px 12px 2px;
        border-left: 2px solid transparent;
        &:hover {
            color: $primary-color-light;
            border-left: 2px solid $primary-color-light;
        }
        &.active {
            border-left: 2px solid $primary-color-light;
            font-weight: bold;
        }
    }
}

.feedback-link {
    max-width: 240px;
    font-size: 13px;
    padding-top: 30px;
    a {
        color: $lightest-text;
        &:hover {
            color: $primary-color-light;
        }
        span {
            text-decoration: underline;
        }
    }
}