.group-selector-area {

  position: fixed;
  z-index: 10;
  top: 99px;
  width: 220px;
  background-color: white;
  padding-left: 8px;
  right: 10px;

  .filterButton {
    position: fixed;
    z-index: 10;
    top: 62px;
    color: white;
    background-color: $blue;
    border-color: white;
    border-radius: 8px;
    font-size: 16px;
    right: 10px;
    padding: 4px 8px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #45798a;
  }

  .filter-title-toggle {
    color: $blue;
    margin-right: 4px;
    cursor: pointer;
  }

  .filter-title-name {
    font-size: 14px;
    font-weight: 900;
    margin-right: 8px;
    margin-bottom: 6px;
    color: #45798a;
    cursor: pointer;
  }

  .filter-title-button {
    min-width: 3em;
    font-size: 12px;
    color: white;
    border: none;
    background-color: $blue;
    padding: 1px 6px 1px 4px;
    border-radius: 4px;
    margin: 0 4px 0 0;
  }

  p {
    font-size: 14px;
    margin: 0px 0px 8px 0px;
    color: #333333;
  }

  .filter-group {

    width: 100%;
    margin-bottom: 8px;

    a {
      margin-left: 8px;
      display: block;
      text-decoration: none;
      color: black;
    }
    a:visited {
      color: black;
    }

    a:hover {
      color: $blue;
    }

    select {
      font-size: 20px;
      margin-top: 4px;
      margin-left: 8px;
      width: 180px;
    }
  }
}  



