.site-footer {
  @include z-depth-2;
  background-color: $white;
  border-top: 1px solid $light-border;
  padding: 30px;
  text-align: center;
  z-index: 200;
  @include bp-md {
    padding-top: 50px;
  }

  .partners-title {
    font-family: $font-2;
    color: $lightest-text;
    text-transform: uppercase;
    @media #{$small-and-down} {
      padding-bottom: 16px;
    }
  }

  a {
    color: $lightest-text;

    &:hover {
      color: $lighter-text;
    }
  }

  .links-section {
    margin-top: 40px;
    font-family: $font-2;

    li {
      display: inline-block;
      font-size: 14px;
      padding: 0 8px;
      @include bp-md {
        font-size: 1rem;
        padding: 0 16px;
      }
    }
  }
}
