.site-footer {
  @include z-depth-2;
  background-color: $white;
  border-top: 1px solid $light-border;
  text-align: center;
  section {
    padding: 30px;
    @include bp-md {
      padding: 50px;
    }
  }
  .partners-title {
    color: $trans-light-2;
    text-transform: uppercase;
    @media #{$small-and-down} {
      padding-bottom: 16px;
    }
  }
  .menu-section {
    background: $blue-light;
  }
}

#footer-menu {
  margin-top: 20px;
  @include bp-lg {
    text-align: left;
    & > li {
      display: inline-block;
      margin-right: 80px;
      vertical-align: top;
    }
  }
  a {
    color: white;
    height: 2em;
    line-height: 2em;
    display: block;
  }
  .menu-parent {
    margin-bottom: 24px;
    & > a {
      font-weight: 900;
      color: $white-trans;
    }
  }
}
