.padded-form {
  position: relative;
  margin: 2rem -5.5555555556%;
  padding: 2rem 5%;
  background-color: $form-bg-color;
  @include z-depth-2;

  @include bp-md {
    margin: 3rem 0 4rem;
    padding: 3rem 2rem 2rem;
  }

  h3 {
    margin: 0 0 1em;
    font-size: 1.33rem;
    text-transform: uppercase;
    color: $lighter-trans;
  }

  [type="checkbox"] + label {
    height: inherit;
    line-height: 20px;
    &::after {
      color: $lighter-trans;
    }
  }

  textarea {
    border-color: $light-border;
    background: color('grey', 'lighten-5');
    padding: 6px;
    max-width: 100%;
    min-height: 100px;
  }

  button {
    margin-top: 30px;
    font-weight: 700;
  }
}

.submit-message {
  margin-top: 20px;
  padding: 6px;
  color: $med-trans;

  font-size: 14px;
}

.submit-error {
  background-color: color("red", "lighten-5");
  border: 1px solid color("red", "lighten-4");
}

.submit-success {
  background-color: color("blue", "lighten-5");
  border: 1px solid color("blue", "lighten-4");
}
