.padded-form {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 254, 254, 0.76);
    z-index: 10;
  }
  position: relative;
  margin: 2rem -5.555556%;
  padding: 2rem 5%;
  background-color: $form-bg-color;
  @include z-depth-2;

  @include bp-md {
    margin: 3rem 0 4rem;
    padding: 2.33rem 2rem;
  }

  h3 {
    margin: 0 0 1em;
    font-size: 16px;
    text-transform: uppercase;
    color: $trans-light;
    @include bp-lg {
      font-size: 18px;
    }
  }

  [type='checkbox'] + label {
    height: inherit;
    line-height: 20px;
    &::after {
      color: $trans-light;
    }
  }

  textarea {
    border-color: $light-border;
    background: color('grey', 'lighten-5');
    padding: 6px;
    max-width: 100%;
    min-height: 100px;
  }

  button {
    margin-top: 30px;
    font-weight: 700;
    padding: 0 2.5rem;
  }
}

.submit-message {
  margin-top: 2rem;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.submit-error {
  color: $red-base;
  border: 1px solid $red-base;
}

.submit-success {
  color: $green;
  border: 1px solid $green;
}
