.fund-page {
  @include page-padding;
  @include bp-lg {
    padding-top: 4rem;
  }
  .page-title {
    padding: 0 5%;
    text-align: left;
    @include bp-lg {
      padding: 0;
      font-size: 2.2rem;
    }
  }
  .container {
    @include bp-sm-down {
      width: 100%;
    }
  }
  .fund-page-body {
    @include bp-lg {
      display: flex;
      align-items: flex-start;
    }
  }
  .fund-intro {
    background: white;
    padding: 2em 5% 1em;
    margin-bottom: 60px;
    @include z-depth-2;
    @include bp-lg {
      padding: 4.5% 3%;
    }
    p,
    li {
      margin-bottom: 1em;
    }
  }
  .fund-intro-title {
    color: $trans-light-2;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.66em;
    @include bp-md {
      font-size: 20px;
    }
  }
  .fund-intro-text {
    color: $trans-dark;
    font-weight: 300;
  }
  .fund-groups-sentence {
    padding: 0 5%;
    font-weight: 700;
    color: $trans-light-2;
    font-size: 17px;
    line-height: 1.4;
    @include bp-md {
      text-align: center;
      font-size: 20px;
    }
  }
  .fund-action {
    flex-shrink: 0;
    width: 32%;
    max-width: 330px;
    margin-left: 5%;
  }
  .fund-tile {
    .tile-image::after {
      opacity: 0;
    }
    .tile-description {
      color: $trans-dark;
    }
  }
  .fund-donate-button {
    z-index: 100;
    background: $blue-base;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    @include z-depth-3;
    @include bp-md {
      font-size: 20px;
      height: 76px;
      line-height: 76px;
    }
    i {
      vertical-align: middle;
      font-size: 1.1em;
      margin-left: 3px;
    }
  }
}
.fund-groups {
  margin-top: 20px;
  .group {
    @include z-depth-2;
    background: white;
    border-radius: 2px;
    margin-bottom: 20px;
    .group-content {
      font-size: 15px;
    }
  }
}
