.funds-page {
  .page-header {
    position: relative;
    @include full-bg;
    padding: 100px 0 20px;
    @include bp-md {
      padding: 160px 0 20px;
    }
    @include bp-lg {
      padding: 200px 0 28px;
    }
    @include bp-xl {
      padding-top: 240px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 80px;
      background: linear-gradient(0, rgba(22, 9, 4, 0.55) 50%, rgba(0, 0, 0, 0) 100%);
      z-index: 10;
      @include bp-md {
        height: 120px;
      }
    }
  }
  .page-title {
    position: relative;
    font-weight: 900;
    color: white;
    margin: 0;
    text-shadow: 0 1px 2px $trans-light;
    z-index: 30;
  }
  .page-intro {
    background: $gradient-blue;
    color: white;
    font-size: 14px;
    padding: 30px 0;
    @include bp-sm {
      font-size: inherit;
    }
    @include bp-md {
      padding: 50px 0;
    }
    @include bp-lg {
      font-size: 17px;
      .container {
        width: 840px;
        min-width: 0;
      }
    }
    p {
      margin-bottom: 1em;
    }
    a {
      color: $blue-light-2;
      display: inline-block;
      font-weight: 700;
      font-size: 13px;
      @include bp-sm {
        font-size: 13.5px;
      }
      @include bp-md {
        font-size: 15px;
      }
      @include bp-lg {
        font-size: 16px;
      }
      i {
        font-size: 15px;
        vertical-align: middle;
        margin-left: 2px;
        @include bp-lg {
          font-size: 17px;
        }
      }
    }
  }
}

.funds-section {
  background: $main-bg-color;
  padding: 50px 0;
  .section-title {
    text-align: center;
    font-size: 22px;
    color: $trans-base;
    margin: 10px 0 30px;
  }
  @include bp-md {
    padding: 60px 0;
  }
}

.fund-tiles {
  @include bp-md {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -2.5%;
    .fund-tile {
      width: 45%;
      margin: 0 2.5% 35px;
    }
  }
  @include bp-lg {
    margin: 30px -1.5%;
    .fund-tile {
      width: 30.333%;
      margin: 0 1.5% 40px;
    }
  }
}
.fund-tile {
  margin-bottom: 35px;
  position: relative;
  @include bp-md {
    order: 1;
    &:first-of-type {
      @include z-depth-3;
      &:hover {
        @include z-depth-4;
      }
    }
    &:nth-of-type(2) {
      order: 0;
    }
  }
  .tile-top {
    display: block;
  }
  .tile-body {
    padding: 18px 15px;
  }
  .donate-button {
    display: block;
    background: $blue-light;
    border-radius: 2px;
    margin-top: 12px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    height: 58px;
    line-height: 58px;
    &:hover {
      background: $blue-base;
    }
  }
}
