.funds-page {
  @include page-padding;
  .page-title {
    font-weight: 900;
    color: $red-base;
  }
  .page-intro {
    font-weight: 300;
    @include bp-sm {
      font-size: 16px;
    }
    @include bp-md {
      font-size: 18px;
    }
    @include bp-lg {
      font-size: 19px;
      max-width: 790px;
      margin: 0 auto;
    }
    a {
      display: inline-block;
      height: 2em;
      line-height: 2em;
      font-size: 14px;
      font-weight: 500;
      @include bp-sm {
        font-size: 15px;
      }
      @include bp-md {
        font-size: 16px;
      }
      @include bp-lg {
        font-size: 17px;
      }
      i {
        font-size: 15px;
        vertical-align: middle;
        margin-left: 2px;
        @include bp-lg {
          font-size: 20px;
        }
      }
    }
  }
}

.fund-tiles {
  margin-top: 25px;
  @include bp-md {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -2.5%;
    .fund-tile {
      width: 45%;
      margin: 0 2.5% 35px;
    }
  }
  @include bp-lg {
    margin: 50px -1.5%;
    .fund-tile {
      width: 30.333%;
      margin: 0 1.5% 40px;
    }
  }
}
.fund-tile {
  margin-bottom: 25px;
  .tile-image {
    height: 133px;
  }
  .donate-button {
    display: block;
    background: $blue-light;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    margin: 15px 0 10px;
    @include hover-grow(1.02);
  }
  .more-link {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-left: 2px;
      margin-bottom: 1px;
    }
  }
  .about-fund-button {
    text-align: center;
    font-weight: 700;
    color: $trans-light-2;
    @include hover-grow(1.03);
  }
}
