.site-wrapper,
body,
html {
  min-height: 100%;
  width: 100%;
  background-color: $white;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
}

main {
  background-color: $main-bg-color;
  flex: 1;
}

.site-footer {
  flex: 0;
}

ul {
  margin: 0;
}

.container {
  @include bp-md-only {
    width: 95%;
  }
  @include bp-lg {
    width: 90%;
    max-width: $site-max-width;
    min-width: $medium-screen-up - (2 * $site-padding-lg);
  }
}

.small-container {
  margin: 0 auto;
  max-width: 1000px;
  @include bp-md {
    width: 75%;
  }
  @include bp-lg {
    width: 66%;
  }
}

.row {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

textarea {
  border-color: $light-border;
  background: color('grey', 'lighten-5');
  padding: 6px;
  max-width: 100%;
}

.btn {
  @include z-depth-1;

  &:focus,
  &:hover {
    @include z-depth-2;
  }
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
