html,
body,
#app,
.site-wrapper {
  height: 100%;
  width: 100%;
  background-color: $white;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
}
.main-area {
  background-color: $main-bg-color;
  flex: 1;
  margin-top: $navbar-height-mobile;
  @media #{$medium-and-up} {
    margin-top: $navbar-height + $donate-header-height;
  }
}
body {
  background-color: $white;
  overflow-wrap: break-word;
}
ul {
  margin: 0;
}
.container {
  @media #{$large-and-up} {
    width: 85%;
    max-width: $site-max-width;
    min-width: $medium-screen-up - (2 * $header-padding);
  }
}
.small-container {
  margin: 0 auto;
  max-width: 1000px;
  @media #{$medium-and-up} {
    width: 75%;
  }
  @media #{$large-and-up} {
    width: 66%;
  }
}
.row {
  margin-bottom: 0;
}
.hidden {
  display: none;
}
textarea {
  border-color: $light-border;
  background: color('grey', 'lighten-5');
  padding: 6px;
  max-width: 100%;
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
