.group-area {
	background-color: $group-area-bg-color;
	border-top: 1px solid $light-border;
	@media #{$medium-and-up} {
		padding: 0 1.5rem 60px;
	}
	@media #{$large-and-up} {
		padding: 0 5% 60px;
	}
}
.grouping-title {
	text-align: center;
	text-transform: uppercase;
	color: $lighter-text;
	padding: 60px 0 15px;
	font-size: 28px;
	&:before {
		content: '';
		display: block;
		width: 40px;
		height: 2px;
		background: $secondary-color;
		margin: 4px auto;
	}
	@media #{$large-and-up} {
		padding: 64px 0 24px;
		font-size: 38px;
		&:before {
			width: 60px;
			height: 3px;
		}
	}
}
.purple-states-title:before {
	background: $map-purple;
}
.light-blue-states-title:before {
	background: $map-light-blue;
}
.dark-blue-states-title:before {
	background: $map-dark-blue;
}
.light-red-states-title:before {
	background: $map-light-red;
}
.dark-red-states-title:before {
	background: $map-dark-red;
}
.state {
	@extend .z-depth-1;
	background-color: $white;
	padding: 0;
}
.state + .state {
	margin-top: 40px;
}
.state-title {
	background-color: $title-bg-color;
	padding: 2px 15px;
	h4 {
		color: $white;
	}
	@media #{$medium-and-up} {
		padding: 2px 36px;
	}
}
.state .group {
	border-top: 1px solid $light-border;
	padding: 12px 15px 24px;
	.row {
		margin: 0 -0.75rem;
	}
	@media #{$medium-and-up} {
		padding: 16px 36px 30px;
	}
}
.group-title a {
	color: inherit;
	&:hover {
		color: $primary-color-light;
	}
}
.group-link {
	margin-bottom: 4px;
	text-decoration: none;
	font-weight: 700;
	display: inline-block;
	i {
		@include reg-icon;
		margin-right: 4px;
	}
	&:hover {
		color: $primary-color-light;
	}
	@media #{$medium-and-up} {
		margin: 3px 0 8px;
	}
}
.group-link + .group-link {
	margin-left: 40px;
}
.nonprofit-tags {
	@media #{$medium-and-up} {
		text-align: right;
	}
	span {
		background: $group-tag-color;
		display: inline-block;
		line-height: 24px;
		padding: 0 12px;
		margin-bottom: 8px;
		border-radius: 16px;
		color: $lighter-text;
		@media #{$medium-and-up} {
			line-height: 28px;
			padding: 0 15px;
		}
	}
	span + span {
		margin-left: 6px;
	}
}
.group-tags {
	.group-tag {
		background: $group-tag-color;
		display: inline-block;
		line-height: 24px;
		padding: 0 12px;
		margin-bottom: 8px;
		border-radius: 16px;
		color: $lighter-text;
		@media #{$medium-and-up} {
			line-height: 28px;
			padding: 0 15px;
		}
	}
	.group-tag + .group-tag {
		margin-left: 6px;
	}
}
.group-content {
	font-size: 1.15rem;
	line-height: 1.6;
	margin-top: 4px;
	p+p {
		margin-top: 8px;
	}
}
.group-comments {
	margin-top: 1rem;
	font-weight: 700;
	a {
		color: lighten($link-color, 20%);
		&:hover {
			color: $link-color;
		}
	}
	i {
		@include reg-icon;
		margin-right: 4px;
	}
}
.tagblock {
	color: $lightest-text;
}
.tagblock-title {
	font-weight: 700;
	display: inline-block;
	width: calc(7.8 * 1rem);
	vertical-align: top;
}
.tagblock-tags {
	display: inline-block;
	span+span:before {
		content: ", ";
	}
	@media #{$medium-and-up} {
		max-width: calc(100% - 7.8 * 1rem - 4px);
	}
}
.group-content + .tagblock {
	margin-top: 1rem;
}
.tagblock + .tagblock {
	margin-top: 4px;
}
.post-edit-link {
	float: right;
}
