
// overwrite Bootstrap defaults

.topNavArea {

  position: fixed;
  top: $thermometerHeight;
  width: 100%;  
  background: white;
  z-index: 100;
  opacity: 1.0;
  border-bottom: 1px solid $cBlue;
  height: $navBarHeight;
  border-radius: 0px;

  .navbar-toggle .icon-bar {
    background: $cBlue;
  }

  #nav-collapse .nav.navbar-nav {
    background: white;
  }

  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:visited {
    font-family: Arvo;
    font-size: 35;
    font-weight: 700;
    color: $cBlue;
    text-decoration: none;
    margin-top: 11px;
  }

  @media screen and (max-width: 740px) {
    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:visited {
      font-size: inherit;
    }
  }

  .navbar-nav > li > a {
    padding-top: 20px;    
    padding-bottom: 20px;    
  }

  .navbar-nav > li > a.active {
    color: #777;
    border-bottom: 2px solid $cBlue;
  }
}