nav.navbar {
  position: fixed;
  top: $thermometerHeight;
  width: 100%;  
  background: white;
  z-index: 100;
  opacity: 1.0;
  border-bottom: 1px solid $cBlue;
  height: $navBarHeight;
  border-radius: 0px;
}

.navbar-toggle .icon-bar {
  background: black;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:visited, {
  font-family: Arvo;
  font-size: 30;
  font-weight: 700;  
  color: $cBlue;
  text-decoration: none;
}