.home-area {

  background-image: url(/images/photos/hands.jpg);
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;

  .tiles-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.721569) 0px 1px 12px;
    font-size: 38px;
    max-width: 856px;
    font-weight: 900;
    font-family: Lato,sans-serif;
    margin: 0 auto;
  }

}

main.home-area {
  padding-top: 60px;
  padding-bottom: 90px;
}

.about-us-area { // wait, wat?
  background: rgba(115,138,158,.17);  
  padding-top: 60px;
  padding-bottom: 90px;
}