@mixin site-logo {
    font-family: 'Arvo';
    font-weight: 700;
    font-style: italic;
}

@mixin clearfix {
    &:after {
        content:'';
        display:block;
        clear:both;
    }
}

@mixin reg-icon {
    vertical-align: middle;
    margin-bottom:3px;
}

@keyframes pushRight { 
    from { width:5%; } to { width:100%; }
}

@mixin push-right {
    width:5%;
    animation: pushRight ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
}

@mixin z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}