@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin page-padding {
  padding: 3rem 0;
  @include bp-md {
    padding: 4rem 0;
  }
}

@mixin bp-sm {
  @media #{$small-and-up} {
    @content;
  }
}

@mixin bp-md {
  @media #{$medium-and-up} {
    @content;
  }
}
@mixin bp-lg {
  @media #{$large-and-up} {
    @content;
  }
}
@mixin bp-md-only {
  @media #{$medium-only} {
    @content;
  }
}

@mixin bp-md-down {
  @media #{$medium-and-down} {
    @content;
  }
}

@mixin full-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@mixin bg-overlay($ov-color, $ov-opacity, $ov-border-radius) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    border-radius: $ov-border-radius;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $ov-color;
    opacity: $ov-opacity;
  }
}

@mixin reg-icon {
  vertical-align: middle;
  margin-bottom: 4px;
}
@mixin button-icon {
  display: inline-block;
  width: 40px;
  text-align: left;
  @include reg-icon;
}
@mixin button-icon-text {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: -40px;
}
@mixin light-link {
  color: $lightest-trans;
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $primary-color-light;
  }
}
@keyframes pushRight {
  from {
    width: 5%;
  }
  to {
    width: 100%;
  }
}
@mixin push-right {
  width: 5%;
  animation: pushRight ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
}
@mixin z-depth-1 {
  box-shadow: 0 0 1px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .16);
}
@mixin z-depth-2 {
  box-shadow: 0 0 2px rgba(0, 0, 0, .10), 0 2px 4px rgba(0, 0, 0, .18);
}
@mixin z-depth-3 {
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .22);
}
@mixin z-depth-4 {
  box-shadow: 0 0 6px rgba(0, 0, 0, .14), 0 6px 12px rgba(0, 0, 0, .28);
}
@mixin z-depth-2-top-line {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .10), 0 2px 4px rgba(0, 0, 0, .18);
}
