.navbar-fixed {
  @include bp-lg {
    height: $navbar-height-lg;
  }
}

nav .brand-logo {
  color: $blue-base;
  font-size: 16px;
  font-family: 'museo-slab', 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  @include bp-sm {
    font-size: 17px;
  }
  @include bp-lg {
    font-size: 18px;
  }
}

.main-nav {
  background-color: $navbar-color;
  @include z-depth-2;
  @include bp-lg {
    height: $navbar-height-lg;
    line-height: $navbar-height-lg;
    padding: 0 ($site-padding-lg - $menu-padding-lg) 0 $site-padding-lg;
  }

  .button-collapse {
    margin: 0 5%;
    @include bp-md {
      margin: 0 2.5%;
    }
    i {
      margin-left: -3px;
      font-size: 20px;
      color: $trans-light-2;
    }
  }
}

#header-menu {
  display: block;
  float: right;
  a {
    font-size: 15px;
    color: $trans-light;
    padding: 0 $menu-padding-lg;
    &:hover {
      background-color: color('grey', 'lighten-3');
    }
  }
  #menu-item-donate > a {
    font-weight: 900;
    color: $red-base;
  }
  .menu-parent {
    & > a {
      height: $navbar-height-lg;
    }
    &:hover .menu-children {
      display: block;
    }
    &:last-of-type {
      .menu-children {
        right: 0;
      }
    }
  }

  .menu-children {
    display: none;
    position: absolute;
    min-width: 160px;
    @include z-depth-1;
    li {
      line-height: 56px;
      height: 56px;
      float: none;
    }
    a {
      padding: 0 $menu-padding-lg;
      display: block;
      background-color: $navbar-color;
      &:hover {
        background-color: color('grey', 'lighten-3');
      }
    }
  }
}

#side-nav {
  width: 100%;
  a {
    padding: 0 30px;
  }
  .top-bar {
    a {
      height: 56px;
      line-height: 56px;
    }
    border-bottom: 1px solid $light-border;
    margin-bottom: 20px;
    @include clearfix;
  }
  .brand-logo {
    color: $blue-light;
    float: left;
    left: auto;
    transform: none;
  }
  .close-button {
    float: right;
    padding-right: 20px;
    i {
      font-size: 22px;
      line-height: inherit;
      color: $trans-light-2;
    }
  }
}

#side-menu {
  a {
    font-size: 18px;
    height: 42px;
    line-height: 42px;
  }
  .menu-parent {
    margin-bottom: 18px;
    & > a {
      height: 40px;
      line-height: 40px;
      font-weight: 900;
      color: $red-base;
    }
  }
}
