.advisors .content {
  text-align: center;

  h5 {
    font-weight: 700;
    color: $trans-light;
  }
  p + h5 {
    margin-top: 2.4rem;
  }

  li {
    margin: 0;
    line-height: 2.5;
  }
}

.team .content h5 {
  margin-top: 1.8em;
}
