.puerto-rico-page {
  .container {
    max-width: 1065px;
  }
  .page-logo {
    width: 240px;
    margin: 0 auto 30px;
    display: block;
    @include bp-md {
      margin-bottom: 45px;
      width: 330px;
    }
    @include bp-lg {
      margin-bottom: 60px;
      width: 390px;
    }
  }
  .prvp-video {
    width: 100%;
    @include z-depth-2;
    @include bp-md-only {
      max-width: 560px;
      margin: 0 auto;
    }
    .video-wrapper {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
      background: $light-border;
      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }
  .fund-intro {
    margin-top: 40px;
    @include bp-md {
      margin-top: 60px;
    }
  }
  .action-section {
    @include z-depth-2;
    max-width: 440px;
    border-top: 1px solid $light-border;
    padding: 30px $group-padding;
    margin: 40px auto;
    background: white;
    border-radius: 2px;
    @include bp-lg {
      margin-top: 60px;
      padding: 40px;
      max-width: none;
    }
    .action-content {
      margin: 0 auto;
      max-width: 420px;
    }
    .action-title {
      text-align: center;
      font-weight: 700;
      color: $trans-light-2;
      font-size: 1.5em;
      margin: 0 0 20px;
      @include bp-lg {
        font-size: 22px;
      }
    }
    .action-intro {
      color: $trans-dark;
      font-size: 14px;
    }
  }
  .action-form {
    margin-bottom: 10px;
    input[type='text'],
    input[type='email'] {
      background: $grey-light;
      border: 1px solid #c1c1c1;
      height: 2.8rem;
      padding: 0 8px;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .input-name {
      margin-top: 20px;
    }
    .input-wrapper {
      display: flex;
    }
    .input-email {
      width: 60%;
      flex-shrink: 0;
      margin-right: 15px;
    }
    .submit-button {
      display: block;
      background: $red-light;
      width: 100%;
      border: 0;
      height: 3.2rem;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 2px;
      &:hover {
        background: $red-base;
      }
    }
  }
}
