.single {
    .group {
        padding-top:30px;
        @include bp-md {
            margin: 3rem 0;
        }
    }
    .group-title {
        font-size: 24px;
        margin-bottom: 1em;
        @include bp-md {
            font-size: 34px;
        }
    }
    .group-content {
        margin-top: 1rem;
    }
}

#comments {
    background-color: $white;
    padding: 20px;
    @include bp-md {
        padding: 30px 45px;
    }
    margin: 3rem 0;

    .comments-title {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        @include bp-md {
            font-size: 26px;
        }
    }
    
    .comment-body {
        margin: 2rem 0;
        .reply {
            margin-top: 4px;
        }
    }
    
    .comment-meta {
        font-size: 12px;
        margin: 6px 0;
    }
    
    .comment-author {
        text-transform: capitalize;
        b {
            font-weight: 400;
        }
        .says {
            display:none;
        }
    }
    .comment-metadata > a {
        color: $lighter-trans;
    }
    .edit-link {
        padding-left: 6px;
        color: 600;
    }
    
    .comment-respond {
        padding: 0.5rem 0 1rem;
        @include bp-md-only {
            padding: 0.5rem 1rem 1rem;
        }
        @include bp-lg {
            padding: 0.5rem 2rem 1rem;
        }
    }

    .comment-list + .comment-respond {
        border-top: 1px solid $light-border;
        margin-top: 3rem;
    }
    
    .comment-body + .comment-respond {
        border-bottom: 1px solid $light-border;
        border-top: 1px solid $light-border;
        padding-bottom: 2rem;
    }
    
    #reply-title {
        font-size: 20px;
        font-weight: 600;
        @include bp-md {
            font-size: 26px;
        }
    }
    
    #cancel-comment-reply-link {
        float: right;
        font-size: 14px;
        color: lighten($link-color, 15%);
        &:hover {
            color: $link-color;
        }
    }

    .comment-notes {
        color: $lighter-trans;
    }
    
    #comment {
        min-height: 4rem;
        margin: 1rem 0;
    }
    
    #author, #email {
        padding: 0 6px;
        box-sizing: border-box;
    }
    
    .form-submit {
        text-align: right;
        margin-top: 1rem;
    }
    input[type="submit"] {
        @extend .btn;
        @media #{$small-and-down} {
            height: 32px;
            line-height: 32px;
            padding: 0 1.5rem;
        }
    }
}

ul.children {
    padding-left: 20px;
}


