.staffArea {
  margin: 100px auto 10% auto;
  width: 100%;
  max-width: 800px;

  h2 {
    text-align: center;
    color: #42A5F5;
    margin: 30px 0 30px 0;
  }
  table {
    width: 620px;
    margin: 0 auto 0 auto;
    overflow: scroll;
    border-collapse: collapse;

    th {
      border: 1px solid lightgray;
    }
    tr:nth-child(odd) {
      background: #EEEEEE;
    }
    .s-user-header {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 200px;
      text-align: center;
      font-weight: 900;
    }
    .s-group-header {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 300px;
      text-align: center;
      font-weight: 900;
    }
    .s-amount-header {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 100px;
      text-align: center;
      font-weight: 900;
    }
    .s-user {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 200px;
    }
    .s-group {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 300px;
    }
    .s-amount {
      display: inline-block;
      padding: 2px;
      margin: 0;
      width: 100px;
      text-align: right;
    }
  }
}
