$widgetHeight: 15px;

.thermometerArea {

  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #673AB7;
  color: #fff;
  font-size: small;
  z-index: 100;
  height: $thermometerHeight;

  div.text {
    font-weight: 400;
    margin-left: 10px;
  }

  .no-pad-left {
    padding-left: 0;
  }

  .no-pad-right {
    padding-right: 5;
  }

  .thermometer-current {
    text-align: right;
  }

  .thermometer {
    background: #d9edf7;
    border: 2px solid #2e6da4;
    border-radius: 14px;
  }

  .mercury {
    background: $cBlue;    
    min-height: $widgetHeight;
    max-width: 0;
    border-radius: 6px;  
  }

  .donate-button {
    padding-top: 1px;
    padding-bottom: 1px;
    margin: -4px;
  }
}