.tiles {

  margin: 0 8%;

  .tile {
  }

  .row.tiles-row {
    margin-top: 30px;
  }

  .tile {
    padding: 20px 12px 8px 12px;
    background: white;
    opacity: 0.80;
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: center;

    .tile-title {
      text-align: center;
      font-weight: 600;
      font-size: 110%;
      margin-bottom: 10px;
    }

    a.btn {
      font-size: 120%;
      width: 90%
    }

    .tile-glyph {
      max-width: 200px;
      min-height: 125px;
      display: block;
      margin: 7px auto
    }

    .tile-icon {
      font-size: 100px;
      color: #42A5F5
    }

    .tile-body {
      margin-top: 7px;
      margin-bottom: 12px;
      font-size: 80%;
      min-height: 3em;
    }
  }

  .tile.compact {
    min-height: initial;

    a.btn {
      margin: 0 auto;
      width: initial;
      font-size: initial;
    }

    .tile-glyph {
      font-size: 33px;
      display: inline-block;
      float: left;
      min-height: 40px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .tile-body {
      min-height: 55px;
      text-align: left;
    }
  }

  @media screen and (max-width: 980px) {
    .tile {
      margin-top: 12px;
    }
  }



}