.tooltip {
  display: none;
}
@include bp-lg {
  .tooltip {
    font-family: $font-2;
    position: absolute;
    z-index: 1070;
    display: block;
    text-align: left;
    line-height: 1.4;
    opacity: 0;

    .tooltip-header,
    .race-data {
      padding: 6px 10px;
    }
    .tooltip-header {
      border-bottom: 1px solid $light-border;
      font-size: 14px;
    }
    .state-name {
      text-transform: capitalize;
      font-weight: 500;
    }
    .race-data {
      font-size: 13px;
      line-break: auto;
    }
  }
  .tooltip.in {
    filter: alpha(opacity=9.8);
    opacity: .98;
  }
  .tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
  }
  .tooltip-inner {
    max-width: 220px;
    color: $med-text;
    background-color: $main-bg-color;
    border-radius: 2px;
    @include z-depth-2;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: $main-bg-color;
  }
}
