.tooltip {
  display: none;
}
@media #{$large-and-up} {
  .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    opacity: 0;
    line-break: auto;
  }
  .tooltip.in {
    filter: alpha(opacity=9.5);
    opacity: .95;
  }
  .tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 5px 10px;
    color: $med-text;
    text-align: center;
    background-color: $white;
    border-radius: 2px;
    @include z-depth-1;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: $white;
  }
}