html {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 15px;
  @include bp-lg {
    font-size: 16px;
  }
}

body {
  font-family: "museo-sans", "Roboto", sans-serif;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

.page-title {
  text-align: center;
  text-transform: capitalize;
  color: $med-trans;
  font-weight: 700;
  margin: 0 0 1.5rem;
  font-size: 1.8rem;
  @include bp-md {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
}
