// Heights & widths
$site-max-width: 1200px;
$site-padding-lg: 30px;
$menu-padding-lg: 20px;

$navbar-height: 56px;
$navbar-height-mobile: $navbar-height;
$navbar-height-lg: 64px;

$section-padding: 20px;

// Base font sizes
$h1-fontsize: 2.75rem;
$h2-fontsize: 2.75rem;
$h3-fontsize: 1.68rem;
$h4-fontsize: 2rem;
$h5-fontsize: 1.4rem;
$h6-fontsize: 1.2rem;

// Media query variables
$xs-screen-up: 375px;
$small-screen-up: 761px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$xs-screen: 374px;
$small-screen: 760px;
$medium-screen: 992px;
$large-screen: 1200px;
$small-and-up: "only screen and (min-width: #{$xs-screen-up})";
$xl-and-up: "only screen and (min-width: #{$large-screen-up})";

// Base colors
$white: #fff;
$trans-white: rgba(255, 255, 255, 0.96);
$trans-blue: rgba(20, 123, 204, 0.64);
$facebook-blue: rgb(59, 89, 152);
$twitter-blue: rgb(0, 172, 237);

// Color theme
$primary-color: color("blue", "base");
$primary-color-light: color("blue", "lighten-1");
$primary-color-light-2: color("blue", "lighten-2");
$secondary-color: #f56b62;
$secondary-color-light: color("red", "accent-1");

// Element colors
$navbar-color: $white;
$main-bg-color: color("grey", "lighten-5");
$form-bg-color: $white;
$link-color: $primary-color;

// Text shades
$dark-trans: rgba(0, 0, 0, 0.87);
$med-trans: rgba(0, 0, 0, 0.70);
$lighter-trans: rgba(0, 0, 0, 0.52);
$lightest-trans: rgba(0, 0, 0, 0.38);

// Borders
$light-border: rgba(0, 0, 0, 0.08);
$med-border: rgba(0, 0, 0, 0.16);

// Input
$input-border-color: $lighter-trans;
$input-focus-color: $primary-color;

// Groups
$group-padding: 5%;

// Navbar
$navbar-font-color: $lighter-trans;
$navbar-brand-font-size: 1.7rem;

// State colors
$state-purple: color("purple", "lighten-1");
$state-dark-red: color("red", "darken-3");
$state-light-red: color("red", "lighten-1");
$state-dark-blue: color("blue", "darken-3");
$state-light-blue: color("blue", "lighten-2");
