// Heights & widths
$site-max-width: 1200px;
$site-padding-lg: 30px;
$menu-padding-lg: 24px;

$navbar-height: 50px;
$navbar-height-mobile: $navbar-height;
$navbar-height-lg: 64px;

// Media query variables
$xs-screen-up: 375px;
$small-screen-up: 761px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$xs-screen: 374px;
$small-screen: 760px;
$medium-screen: 992px;
$large-screen: 1200px;
$small-and-up: 'only screen and (min-width: #{$xs-screen-up})';
$xl-and-up: 'only screen and (min-width: #{$large-screen-up})';

// Base colors
$white: #fff;
$grey-light: color('grey', 'lighten-5');
$white-trans: transparentize(white, 0.3);

$blue-base: color('blue', 'base');
$blue-dark: color('blue', 'darken-1');
$blue-dark-2: color('blue', 'darken-3');
$blue-light: color('blue', 'lighten-1');
$blue-light-2: color('blue', 'lighten-2');
$blue-light-3: #cee8ff;
$blue-trans: transparentize($blue-base, 0.36);
$bluegrey: #85b5e1;

$gradient-blue: linear-gradient(to right, #146aad, #4a9ed8);

$red-base: #f56b62;
$red-light: color('red', 'accent-1');

$green-base: #038b5b;
$green-light: #15bd82;

$facebook-blue: #587bc5;
$twitter-blue: #2db2ff;
// Text shades
$trans-dark: rgba(0, 0, 0, 0.87);
$trans-base: rgba(0, 0, 0, 0.7);
$trans-light: rgba(0, 0, 0, 0.52);
$trans-light-2: rgba(0, 0, 0, 0.38);

// Border shades
$light-border: rgba(0, 0, 0, 0.08);
$med-border: rgba(0, 0, 0, 0.16);

// materialize-css color theme
$primary-color: $blue-base;
$primary-color-light: $blue-light;
$secondary-color: $red-base;

// Element colors
$navbar-color: white;
$main-bg-color: $grey-light;
$form-bg-color: white;
$link-color: $blue-base;
$input-border-color: $trans-light;
$input-focus-color: $blue-base;
$radio-empty-color: $trans-light;

// Groups
$group-padding: 5%;

// Navbar
$navbar-font-color: $trans-light;
$navbar-brand-font-size: 1.7rem;

// State colors
$state-purple: color('purple', 'lighten-1');
$state-dark-red: color('red', 'darken-3');
$state-light-red: color('red', 'lighten-1');
$state-dark-blue: color('blue', 'darken-3');
$state-light-blue: color('blue', 'lighten-2');
