@import "../../../node_modules/materialize-css/sass/components/color";
@import "variables";
@import "../../../node_modules/materialize-css/sass/materialize";
@import "collapsible";
@import "global";
@import "mixins";
@import "typography";
@import 'fonts';
@import 'donate-header';
@import "navigation";
@import "content-page";
@import "contact-page";
@import "donate-page";
@import "advisors-page";
@import "homepage/homepage";
@import "partner-logos";
@import "footer";
@import "groups";
@import "mobile-groups";
@import "filters";
@import "mobile-filters";
@import "single-post";
@import "browse-groups/worksheet-intro";
@import "browse-groups/worksheet-groups";
@import "browse-groups/worksheet-results";
@import 'custom-planning/custom-planning';
@import "alert";
@import "tooltip";

.expand-trigger {
  cursor: pointer;
}

.expand-icon.closed i {
}

.expand-icon.open i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

div.closed { 
  padding-top: 2px;
  padding-bottom: 2px;
}
