@import 'materialize/components/color';
@import 'variables';
@import 'materialize/materialize';
@import 'mixins';
@import 'global';
@import 'loading';
@import 'typography';
@import 'forms';
@import 'headroom';
@import 'navigation';
@import 'content-page';
@import 'homepage/homepage';
@import 'about';
@import 'contact-page';
@import 'houseparty-page';
@import 'funds-page';
@import 'fund-page';
@import 'orgs/orgs';
@import 'partner-logos';
@import 'footer';
@import 'tooltip';

.expand-trigger {
  cursor: pointer;
}

.expand-icon.open i {
  transform: rotate(90deg);
}

.closed {
  padding-top: 2px;
  padding-bottom: 2px;
}
