.donation-form {
  .amount-wrapper {
    // text-align: left;
  }
  .amount {
    input {
      text-align: right;
      font-size: 15px;
      border: 1px solid $med-border;
      padding: 0 8px;
      margin-bottom: 3px;
      width: 100%;
      box-sizing: border-box;
      height: 2.2rem;
      &:focus {
        border: 1px solid $blue-base;
        box-shadow: none;
      }
    }
  }
  .remove-group {
    margin-right: 3px;
    font-size: 10px;
    cursor: pointer;
    @include light-link;
    i {
      vertical-align: middle;
      font-size: 11px;
      margin-bottom: 2px;
      margin-right: 2px;
    }
  }
}
