.donation-form {
  .amount-wrapper {
    text-align: left;
  }
  .amount {
    input {
      font-size: 1rem;
      background-color: $white;
      border: 1px solid $med-border;
      padding: 0 8px;
      margin-bottom: 3px;
      width: 100%;
      box-sizing: border-box;
      height: 2.2rem;
      &:focus {
        border: 1px solid $primary-color;
        box-shadow: none;
      }
    }
  }
  .remove-group {
    font-size: 12px;
    margin-left: 6px;
    cursor: pointer;
    @include light-link;
    i {
      vertical-align: middle;
      font-size: 15px;
      padding-bottom: 2px;
    }
  }
}
