.custom-planning {
  .page-title {
    margin-bottom: 24px;
  }
  .page-description {
    color: $med-trans;
    font-size: 16px;
    @include bp-lg {
      font-size: 18px;
      margin: 0 30px;
    }
  }
}

.planning-section {
  margin-bottom: 3rem;
  .plan-state {
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      color: $lighter-trans;
      margin: 0 0 1rem;
    }
  }
  .plan-state+.plan-state {
    border-top: 1px solid $light-border;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  .group+.group {
    margin-top: 1rem;
  }
  .group-title {
    margin-bottom: 3px;
    font-size: 1rem;
  }
  .nonprofit-tags {
    text-align: left;
    font-size: 12px;
    color: $lighter-trans;
    font-weight: 500;
  }
  .amount-col {
    text-align: right;
  }
  .amount-wrapper {
    width: 100%;
    max-width: 110px;
    display: inline-block;
  }
}

.total-section {
  border-top: 1px solid $light-border;
  padding-top: 1.5rem;
  @include bp-md {
    float: right;
    padding-left: 58px;
    width: 100%;
    max-width: 300px;
    border-top: 0;
    padding-top: 0;
  }
  .plan-total {
    @include clearfix;
    text-transform: uppercase;
    font-size: 1.35rem;
    .label {
      float: left;
    }
    .total {
      float: right;
    }
  }
  .link-area {
    max-width: 240px;
    margin: 0 auto;
    @include bp-md {
      max-width: auto;
    }
  }
}

.complete-button {
  width: 100%;
  line-height: 40px;
  height: 40px;
  margin: 2rem 0;
  padding: 0 1rem;
  @include bp-md {
    margin: 1rem 0;
  }
}
.consult-area {
  @include z-depth-1;
  border-radius: 2px;
  @include bp-md {
    margin: 2rem 0 1rem;
  }
  .consult-desc {
    padding: 1rem 12px;
    color: $lighter-trans;
  }
  .consult-button {
    text-align: center;
    width: 100%;
    padding: 0 12px;
    border-top: 1px solid $light-border;
    color: $primary-color-light;
    height: 48px;
    line-height: 48px;
    i {
      vertical-align: middle;
      margin-bottom: 4px;
      margin-right: 11px;
    }
  }
}

@import 'custom-planning/cart-page';
@import 'custom-planning/profile-page';
@import 'custom-planning/summary-page';
