.custom-planning .page-description {
  font-size: 1.33rem;
  color: $med-trans;
  margin: 0 2rem;
}
.planning-section {
  margin-bottom: 3rem;
  .plan-state {
    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      color: $lighter-trans;
      margin: 0 0 1rem;
    }
  }
  .plan-state+.plan-state {
    border-top: 1px solid $light-border;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  .group+.group {
    margin-top: 1rem;
  }
  .group-title {
    margin-bottom: 4px;
    font-size: 1rem;
  }
  .nonprofit-tags {
    text-align: left;
    span {
      line-height: 22px;
      padding: 0 10px;
      font-size: 12px;
    }
  }
  .amount-col {
    text-align: right;
  }
  .amount-wrapper {
    width: 100%;
    max-width: 110px;
    display: inline-block;
  }
}
.back-link {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  i {
    vertical-align: middle;
    padding-bottom: 4px;
    margin-left: -8px;
    margin-right: -2px;
  }
}
.total-section {
  float: right;
  padding-left: 58px;
  width: 100%;
  max-width: 300px;
  .plan-total {
    @include clearfix;
    text-transform: uppercase;
    font-size: 1.35rem;
    .label {
      float: left;
    }
    .total {
      float: right;
    }
  }
  .complete-button {
    width: 100%;
    line-height: 40px;
    height: 40px;
    letter-spacing: 1px;
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
.consult-area {
  @include z-depth-1;
  border-radius: 2px;
  margin: 3rem 0;
  .consult-desc {
    padding: 1rem 12px;
    color: $lighter-trans;
  }
  .consult-button {
    width: 100%;
    padding: 0 12px;
    border-top: 1px solid $light-border;
    color: $primary-color-light;
    height: 48px;
    line-height: 48px;
    i {
      @include button-icon;
    }
    .consult-button-text {
      @include button-icon-text;
    }
  }
}

@import 'custom-planning/cart-page';
@import 'custom-planning/profile-page';
@import 'custom-planning/summary-page';
