.profile-form {
  .back-link {
    float: right;
  }
  h3 {
    margin: 0 0 1em;
    font-size: 1.33rem;
    text-transform: uppercase;
    color: $lighter-text;
  }
  .action-area {
    margin-top: 1rem;
  }
}
