.summary-form {
  .group-link {
    margin-top: 3px;
    font-size: 12px;
    text-transform: uppercase;
    i {
      display: none;
      @include bp-md {
        display: inline-block;
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
  .user-info {
    margin: 2rem 0;
    .edit-user-info {
      display: block;
      margin-top: 4px;
      font-size: 11px;
      @include light-link;
    }
  }
  .back-link {
    margin-top: 0.5rem;
  }
}
.back-link {
  margin-top: 2rem;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  font-weight: 700;
  i {
    vertical-align: middle;
    font-size: 19px;
    margin-left: -4px;
    margin-bottom: 3px;
  }
}
