.plan-summary-page {
  .page-title {
    margin-bottom: 2rem;
  }
  .user-info {
    text-align: center;
    @include bp-lg {
      text-align: left;
      margin-top: 1.67rem;
      font-size: 14px;
    }
    .edit-user-info {
      display: block;
      @include light-link;
      margin-top: 4px;
      font-size: 11px;
    }
  }
}

.summary-form {
  .group-link {
    margin-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    i {
      display: none;
      @include bp-lg {
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
  .button {
    padding: 0 1rem;
  }
}
.back-link {
  margin-top: 3rem;
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  font-weight: 700;
  @include bp-lg {
    margin-top: 1rem;
  }
  i {
    vertical-align: middle;
    font-size: 19px;
    margin-left: -4px;
    margin-bottom: 3px;
  }
}
